.refund-order-content{
	margin:2.685714rem auto 0;
	border-radius: 0.342857rem;
	background-color: #EEEEEE;
	width: 96%;
	padding:0.285714rem;
}

.refund-order-content>li{
	margin-top: 0.857142rem;
	padding:0.285714rem;
	border-radius: 0.571428rem;
}

.refund-order-content>.prompting{
	text-align: center;
	color: #7E8C8D;
}
 
.refund-order .refund-order-content .order-header{
	position: relative;
	border-bottom: 0.057142rem #eeeeee solid;
	color: #7E8C8D;
	vertical-align: middle;
	padding: 0.285714rem 0 0.571428rem;
}

.refund-order .refund-order-content .order-header img{
	width: 1.371428rem;
	vertical-align: middle;
	margin-right: 0.285714rem;
}

.refund-order .refund-order-content .order-header span{
	vertical-align: middle;
}

.refund-order .refund-order-content .order-header>span:last-of-type{
	position: absolute;
	right: 0.285714rem;
	bottom: 0.571428rem;
	color: orange;
}

.refund-order .refund-order-content .order-content{
	overflow: hidden;
	padding: 0.571428rem 0;
}

.refund-order .refund-order-content .order-content>div{
	float: left;
}

.refund-order .refund-order-content .order-content>div:first-of-type{
	width: 30%;
	text-align: center;
}

.refund-order .refund-order-content .order-content>div:last-of-type{
	width: 70%;
}

.refund-order .refund-order-content .order-content>div:last-of-type p{
	padding-bottom: 0.571428rem;
}

.refund-order .refund-order-content .order-content>div:last-of-type p:first-of-type{
	color: black;
	font-size: 1.2rem;
}

.refund-order .refund-order-content .order-content>div:last-of-type p:last-of-type{
	padding-bottom: 0;
	position: relative;
}

.refund-order .refund-order-content .order-content>div:last-of-type p:last-of-type span:nth-of-type(2){
	text-decoration: line-through;
	padding-left: 0.571428rem;
}

.refund-order .refund-order-content .order-content>div:last-of-type p:last-of-type span:nth-of-type(2n+1){
	font-size: 1.142857rem;
}

.refund-order .refund-order-content .order-content>div:last-of-type p:last-of-type span:last-of-type{
	position: absolute;
	right: 0.857142rem;
	bottom: 0;
	color: black;
}

.refund-order .refund-order-content .order-data,.refund-order .refund-order-content .order-control{
	text-align: right;
	border-top:0.057142rem #eeeeee solid;
	padding: 0.571428rem 0;
}

.refund-order .refund-order-content .order-data{
	font-size: 0.857142rem;
}

.refund-order .refund-order-content .order-data span{
	font-size: 1.428571rem;
}

.refund-order .refund-order-content .order-control{
	padding-bottom: 0.285714rem;
}

.refund-order .refund-order-content .order-control span{
	display: inline-block;
	border: 1px #eeeeee solid;
	padding: 0.285714rem 0.571428rem;
	border-radius: 1.142857rem;
}

.refund-order .refund-order-content .order-control span:last-of-type{
	margin-right: 0.285714rem;
	border-color: orange;
	color: orange;
}
@media only screen and (max-width:360px) {
	.refund-order-content{
		margin-top: 3.428571rem;
	}
}